{% extends "layout.html" %}

{% block pageTitle %}
  Enter your emissions
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/installation-submit">Back</a>
{% endblock %}


{% block content %}

<form class="form" action="/verifier-submit" method="post">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Enter your emissions
    </h1>
  </legend>

  <div class="govuk-form-group">
    <label class="govuk-label" for="emission-1">
      CO2
      <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <input class="govuk-input govuk-input--width-10" id="emission-1" name="emission" type="text">
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="emission-2">
      PFC
    </label>
    <input class="govuk-input govuk-input--width-10" id="emission-2" name="emission" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="emission-3">
      N2O
    </label>
    <input class="govuk-input govuk-input--width-10" id="emission-3" name="emission" type="text">
  </div>

  <button class="govuk-button">Continue</button>

</form>

</fieldset>

{% endblock %}
