{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/surrender-amount">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Surrender your emission Allowances
      </h1>
      <form class="form" action="/confirmation-surrender" method="post">

      <p class="govuk-body-l">Confirm the amount of allowance you are surrendering</p>

      {% from "table/macro.njk" import govukTable %}

  {{ govukTable({
    firstCellIsHeader: true,
    rows: [
      [
        {
          text: "Allowance Balance"
        },
        {
          text: "2,500"
        }
      ],
      [
        {
          text: "Verified emissions outcome"
        },
        {
          text: "2,480"
        }
      ],
      [
        {

          text: "Amount of allowance to surrender"
        },
        {
          text: "2,480"
        }
      ],
      [
        {
          text: "Allowances after surrender"
        },
        {
          text: "20"
        }
      ]
    ]
  }) }}

    <button class="govuk-button">Surrender allowance</button>

  </form>

    </div>
  </div>

{% endblock %}
